__pycache__
*.py[cod]
*.pyo
.pytest_cache
.ruff_cache
.coverage
.coverage.*
htmlcov/
.tox/
.venv/
venv/
env/

.git
.gitignore

.env
.env.*
!.env.example

tests/
*.egg-info/
dist/
build/

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

alembic/versions/*pyc